**In this Assignment, We need to create a colab notebook which gives me monthly wise top performing and top non performing stocks.**

In [20]:
#import necessary libraries
import pandas as pd
import io
import time

#import plotty
import warnings
warnings.filterwarnings('ignore')

In [5]:
#uploading csv file
from google.colab import files
 
 
uploaded = files.upload()

Saving Equity Data (1 Jan 2020).csv to Equity Data (1 Jan 2020).csv

In [6]:
#read the csv file
df = pd.read_csv(io.BytesIO(uploaded['Equity Data (1 Jan 2020).csv']))
print(df)

             DATE1      SYMBOL   PREV_CLOSE   OPEN_PRICE   HIGH_PRICE  \
0       11-02-2022  NETFLTGILT        22.40        22.02        22.48
1       11-02-2022  NETFMID150       116.02       119.50       119.50
2       11-02-2022  NETFNIF100       183.49       178.50       184.98
3       11-02-2022  NETFDIVOPP        45.63        46.25        46.25
4       11-02-2022  NETFGILT5Y        49.66        49.66        49.82
...            ...         ...          ...          ...          ...
809334  01-01-2020  ORTINLABSS         9.90        10.15        10.15
809335  01-01-2020  ORISSAMINE      1281.50      1270.00      1288.00
809336  01-01-2020   OSWALAGRO         4.95         5.15         5.40
809337  01-01-2020     PAISALO       433.00       429.95       438.00
809338  01-01-2020     PAGEIND     23393.10     23350.00     23799.00

         LOW_PRICE   LAST_PRICE   CLOSE_PRICE   AVG_PRICE   TTL_TRD_QNTY  \
0            22.02        22.25         22.27       22.25          16697
1           113.61       114.10        113.95      114.68         224822
2           178.50       182.05        182.22      182.07           2354
3            45.07        45.33         45.09       45.40           1239
4            49.47        49.82         49.79       49.72          82821
...            ...          ...           ...         ...            ...
809334        9.80         9.85          9.80        9.84           5041
809335     1259.35      1264.00       1265.60     1268.53           8230
809336        5.00         5.20          5.30        5.18          27820
809337      427.45       429.95        428.85      432.68          37838
809338    23241.10     23600.00      23602.15    23601.26          16716

         TURNOVER_LACS   NO_OF_TRADES   DELIV_QTY   DELIV_PER
0                 3.72             83     12968.0       77.67
1               257.82           1780    200777.0       89.30
2                 4.29            135      2140.0       90.91
3                 0.56             86      1122.0       90.56
4                41.18            322     74512.0       89.97
...                ...            ...         ...         ...
809334            0.50             26      4283.0       84.96
809335          104.40            626      4091.0       49.71
809336            1.44            143     17849.0       64.16
809337          163.72            505      8873.0       23.45
809338         3945.19           6464      2964.0       17.73

[809339 rows x 14 columns]

In [7]:
#check the shape of the dataset
df.shape

(809339, 14)

In [8]:
#check the columns of the dataset
df.columns

Index([' DATE1', 'SYMBOL', ' PREV_CLOSE', ' OPEN_PRICE', ' HIGH_PRICE',
       ' LOW_PRICE', ' LAST_PRICE', ' CLOSE_PRICE', ' AVG_PRICE',
       ' TTL_TRD_QNTY', ' TURNOVER_LACS', ' NO_OF_TRADES', ' DELIV_QTY',
       ' DELIV_PER'],
      dtype='object')

In [9]:
#split the date column into three parts day, month and year
df[' DATE1']=pd.to_datetime(df[' DATE1'])
df['Month']=df[' DATE1'].apply(lambda x:x.month)
df['Day']=df[' DATE1'].apply(lambda x:x.day)
df['Years']=df[' DATE1'].apply(lambda x:x.year)

In [10]:
#drop the uncessary column
df.drop(columns=" DATE1", inplace = True)

In [11]:
#calculate the percentage change of close price and prev_price 
df["change"]=(((df[" CLOSE_PRICE"]-df[" PREV_CLOSE"])/df[" PREV_CLOSE"])*100)

In [13]:
# Transfer some columns into new dataframe df2
df2 = df[['SYMBOL','change','Month','Years']]

In [14]:
#New dataframe
df2

            SYMBOL    change  Month  Years
0       NETFLTGILT -0.580357     11   2022
1       NETFMID150 -1.784175     11   2022
2       NETFNIF100 -0.692136     11   2022
3       NETFDIVOPP -1.183432     11   2022
4       NETFGILT5Y  0.261780     11   2022
...            ...       ...    ...    ...
809334  ORTINLABSS -1.010101      1   2020
809335  ORISSAMINE -1.240734      1   2020
809336   OSWALAGRO  7.070707      1   2020
809337     PAISALO -0.958430      1   2020
809338     PAGEIND  0.893640      1   2020

[809339 rows x 4 columns]

In [16]:
#We create one empty list and fetching the good performance of stock on per month basis
list_max=[]
for i in range(1,13):
    a = df2[['change','SYMBOL']][ df2['Month'] == i ].max()
    list_max.append(str(a).split())

In [17]:
#We create one empty list and fetching the bad performance of stock on per month basis
list_min=[]
for i in range(1,13):
    a = df2[['change','SYMBOL']][ df2['Month'] == i ].min()
    list_min.append(str(a).split())

In [18]:
# Creating Dataframe
df_main = pd.DataFrame({'Good_performance': list_max, 'Bad_performance': list_min})
df_main

,Good_performance,Bad_performance
0,"[change, 72.0, SYMBOL, ZYDUSWELL, dtype:, object]","[change, -86.041667, SYMBOL, 20MICRONS, dtype:..."
1,"[change, 109.204698, SYMBOL, ZYDUSWELL, dtype:...","[change, -99.014616, SYMBOL, 20MICRONS, dtype:..."
2,"[change, 100.0, SYMBOL, ZYDUSWELL, dtype:, obj...","[change, -98.999208, SYMBOL, 20MICRONS, dtype:..."
3,"[change, 100.0, SYMBOL, ZYDUSWELL, dtype:, obj...","[change, -79.844961, SYMBOL, 20MICRONS, dtype:..."
4,"[change, 29.601276, SYMBOL, ZYDUSWELL, dtype:,...","[change, -47.93817, SYMBOL, 20MICRONS, dtype:,..."
5,"[change, 50.0, SYMBOL, ZYDUSWELL, dtype:, object]","[change, -90.068136, SYMBOL, 20MICRONS, dtype:..."
6,"[change, 113.499538, SYMBOL, ZYDUSWELL, dtype:...","[change, -98.801264, SYMBOL, 20MICRONS, dtype:..."
7,"[change, 37.222222, SYMBOL, ZYDUSWELL, dtype:,...","[change, -89.971386, SYMBOL, 20MICRONS, dtype:..."
8,"[change, 123.463855, SYMBOL, ZYDUSWELL, dtype:...","[change, -90.491764, SYMBOL, 20MICRONS, dtype:..."
9,"[change, 96.071111, SYMBOL, ZYDUSWELL, dtype:,...","[change, -90.050432, SYMBOL, 20MICRONS, dtype:..."
10,"[change, 148.096447, SYMBOL, ZYDUSWELL, dtype:...","[change, -98.99624, SYMBOL, 20MICRONS, dtype:,..."
11,"[change, 125.0, SYMBOL, ZYDUSWELL, dtype:, obj...","[change, -98.762238, SYMBOL, 20MICRONS, dtype:..."

**Data Cleaning**

In [21]:
#fetch the necessary data and store it in new column
df_main['Max_value'] = df_main['Good_performance'].str.slice(1,2) 
time.sleep(2) #delay of 2 secs
df_main['Good_performance_stock']= df_main['Good_performance'].str.slice(3,4)

In [22]:
#fetch the necessary data and store it in new column
df_main['Min_value'] = df_main['Bad_performance'].str.slice(1,2)
time.sleep(2) #delay of 2 secs
df_main['Bad_performance_stock']= df_main['Bad_performance'].str.slice(3,4)

In [23]:
#Removing the unncessary sqaure brackets by using strip command
for i in range(0, df_main.shape[0]):
       df_main['Max_value'][i] = str(df_main['Max_value'][i]).strip('[]')

time.sleep(2) #delay of 2 secs

for i in range(0, df_main.shape[0]):
       df_main['Good_performance_stock'][i] = str(df_main['Good_performance_stock'][i]).strip('[]')

time.sleep(2) #delay of 2 secs

for i in range(0, df_main.shape[0]):
       df_main['Min_value'][i] = str(df_main['Min_value'][i]).strip('[]') 

time.sleep(2) #delay of 2 secs

for i in range(0, df_main.shape[0]):
       df_main['Bad_performance_stock'][i] = str(df_main['Bad_performance_stock'][i]).strip('[]')

In [25]:
#drop the unncessary columns
df_main.drop(columns='Good_performance',inplace = True)

time.sleep(2) #delay of 2 secs

df_main.drop(columns='Bad_performance',inplace = True)

**Final Output**

In [26]:
df_main #Final column

       Max_value Good_performance_stock     Min_value Bad_performance_stock
0         '72.0'            'ZYDUSWELL'  '-86.041667'           '20MICRONS'
1   '109.204698'            'ZYDUSWELL'  '-99.014616'           '20MICRONS'
2        '100.0'            'ZYDUSWELL'  '-98.999208'           '20MICRONS'
3        '100.0'            'ZYDUSWELL'  '-79.844961'           '20MICRONS'
4    '29.601276'            'ZYDUSWELL'   '-47.93817'           '20MICRONS'
5         '50.0'            'ZYDUSWELL'  '-90.068136'           '20MICRONS'
6   '113.499538'            'ZYDUSWELL'  '-98.801264'           '20MICRONS'
7    '37.222222'            'ZYDUSWELL'  '-89.971386'           '20MICRONS'
8   '123.463855'            'ZYDUSWELL'  '-90.491764'           '20MICRONS'
9    '96.071111'            'ZYDUSWELL'  '-90.050432'           '20MICRONS'
10  '148.096447'            'ZYDUSWELL'   '-98.99624'           '20MICRONS'
11       '125.0'            'ZYDUSWELL'  '-98.762238'           '20MICRONS'